#fileInput input[type='file' i] {
	cursor: pointer;
	display: block;
	max-width: 8em;
	min-height: 8em;
	border-radius: 9999%;
	z-index: 30;
	position: absolute;
	top: 0;
	color: transparent;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 400ms;
}
#fileInput input[type='file' i]::-webkit-file-upload-button {
	display: none;
}
#fileInput input[type='file' i]:hover {
	background-color: rgba(0, 0, 0, 0.363);
}
#scrollbar {
	overflow: auto;
}
#scrollbar::-webkit-scrollbar {
	width: 1px;
	height: 0px
}

@tailwind base;
@tailwind components;
@tailwind utilities;
